<!DOCTYPE html>
<html>
<head>
	<title>Pedir</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="{{STATIC_URL}}css/pedir.css" rel="stylesheet" media="all">
  <link href="{{STATIC_URL}}css/hover.css" rel="stylesheet" media="all">
</head>
<body>
	<!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
          <a href="/" class="pull-left cuadro-logo"><img class = "logo img-responsive"src="{{STATIC_URL}}img/logo.png"></a>
          <a class="navbar-brand " href="/">Dr. Lines</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/" class = "hvr-underline-reveal">INICIO</a></li>
            <li class="no-active"><a href="/nosotros" class = "hvr-underline-reveal">NOSOTROS</a></li>
            <li class="no-active"><a href="/nosotros" class = "hvr-underline-reveal">CONTÁCTANOS</a></li>
            <li class="no-active"><a href="/faq" class = "hvr-underline-reveal">FAQ</a></li>
            <li class="no-active"><a href="https://www.facebook.com/pages/Flores-Mias/735850309834426" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li class="no-active"><a href="https://instagram.com/floresmiasbogota/" target="_blank"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- Carousel -->
    <div id="myCarousel" class = "carousel slide">
    		<ol class = "carousel-indicators">
    			<li class = "active" data-target = "#myCarousel" data-slide-to="0"></li>
    			<li data-target = "#myCarousel" data-slide-to="1"></li>
    			<li data-target = "#myCarousel" data-slide-to=""></li>
    		</ol>
    		<div class = "carousel-inner">
    			<div class = "item active">
    				<div id = "headerwrap">
    					<div class = "container">
    						<div class="row mensaje-inicial">
    							<div class="col-lg-8">
    								<span class = "titulo-1">NO MÁS FILAS</span>
    								<span class = "titulo-2">Disfruta tu tiempo</span>
    								<span class = "titulo-3">Nos encargamos del resto</span>
    							</div>
    						</div>
    					</div><!-- row -->
    				</div>
    			</div>
    			<div class = "item">
    				<div id = "headerwrap">
    					<div class = "container">
    						<div class="row mensaje-inicial">
    							<div class="col-lg-8">
    								<span class = "titulo-1">NO MÁS FILAS</span>
    								<span class = "titulo-2">Disfruta tu tiempo</span>
    								<span class = "titulo-3">Nos encargamos del resto</span>
    							</div>
    						</div>
    					</div><!-- row -->
    				</div>
    			</div>
    			<div class = "item">
    				<div id = "headerwrap">
    					<div class = "container">
    						<div class="row mensaje-inicial">
    							<div class="col-lg-8">
    								<span class = "titulo-1">NO MÁS FILAS</span>
    								<span class = "titulo-2">Disfruta tu tiempo</span>
    								<span class = "titulo-3">Nos encargamos del resto</span>
    							</div>
    						</div>
    					</div><!-- row -->
    				</div>
    			</div>
    		</div>
    	<a class = "left carousel-control" href="#myCarousel" data-slide="prev">
    		<span class = "icon-prev">
    		</span>
    	</a>
    	<a class = "right carousel-control" href="#myCarousel" data-slide="next">
    		<span class = "icon-next">
    		</span>
    	</a>
    </div>
    <!-- End carousel -->


   
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>

</body>
</html>