<!DOCTYPE html>
<html>
<head>
    <title>Prueba User home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link href="css/my-styles.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<h1> Hola {{request.user}}</h1>
  	<input type="hidden" value="logout" name="accion" />
  	<a href="{% url "django.contrib.auth.views.logout" %}?next=/test">Salir</a>
  </body>
</html>